In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("income.csv", names=['Name','Income'], skiprows=[0])

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
percentile_99 = df.Income.quantile(0.99)

In [ ]:
percentile_99

In [ ]:
df[df.Income<=percentile_99]

In [ ]:
df

In [ ]:
df.Income.median()

In [ ]:
df_new=df.fillna(df.Income.median())

In [ ]:
df_new

In [27]:
df = pd.read_csv("AB.CSV")
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [51]:
price=df.price
price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [53]:
Q1,Q3 = np.percentile(price,[25,75])
IQR = Q3 - Q1
print(Q1,Q3)

69.0 175.0

In [49]:
lower_fence = Q1 - (1.5 * IQR)
lower_fence

-90.0

In [47]:
higher_fence = Q3 + (1.5 * IQR)
higher_fence

334.0

In [48]:
outliers = []
def detect_outliers(l,h):
    for i in price:
        if i > h or i<l:
            outliers.append(i)
    return outliers

In [9]:
detect_outliers(lower_fence,higher_fence)

[375,
 800,
 500,
 350,
 400,
 475,
 350,
 500,
 500,
 390,
 575,
 500,
 350,
 349,
 349,
 650,
 599,
 395,
 495,
 375,
 451,
 450,
 500,
 350,
 400,
 2000,
 500,
 429,
 350,
 350,
 399,
 438,
 700,
 400,
 850,
 349,
 599,
 495,
 760,
 375,
 485,
 350,
 1300,
 402,
 800,
 385,
 450,
 499,
 500,
 387,
 350,
 3000,
 549,
 350,
 500,
 350,
 395,
 1300,
 500,
 380,
 450,
 350,
 385,
 499,
 349,
 800,
 349,
 350,
 350,
 375,
 450,
 500,
 399,
 700,
 500,
 400,
 1000,
 700,
 350,
 433,
 595,
 349,
 2000,
 355,
 550,
 380,
 900,
 399,
 425,
 495,
 350,
 375,
 625,
 350,
 575,
 400,
 500,
 600,
 390,
 350,
 350,
 465,
 349,
 340,
 4000,
 500,
 400,
 400,
 349,
 495,
 999,
 800,
 339,
 500,
 2500,
 890,
 399,
 349,
 400,
 650,
 350,
 349,
 420,
 950,
 575,
 350,
 550,
 499,
 1000,
 499,
 350,
 1395,
 425,
 395,
 650,
 550,
 1000,
 750,
 499,
 1000,
 350,
 350,
 350,
 350,
 595,
 390,
 350,
 399,
 1500,
 1899,
 399,
 465,
 350,
 495,
 800,
 450,
 350,
 5000,
 349,
 345,
 390,
 600,
 1100,
 550,
 350,
 420,
 400,
 600,
 380,
 1200,
 350,
 440,
 439,
 555,
 400,
 450,
 390,
 700,
 799,
 475,
 455,
 420,
 400,
 345,
 550,
 1700,
 525,
 600,
 399,
 499,
 350,
 450,
 450,
 650,
 750,
 399,
 499,
 1999,
 480,
 350,
 450,
 1500,
 345,
 1000,
 850,
 500,
 500,
 400,
 500,
 395,
 345,
 350,
 1000,
 800,
 599,
 400,
 700,
 575,
 350,
 375,
 560,
 400,
 6000,
 379,
 900,
 900,
 850,
 2000,
 750,
 575,
 599,
 2000,
 340,
 850,
 950,
 1500,
 675,
 900,
 395,
 1500,
 749,
 1000,
 4000,
 650,
 750,
 1000,
 1200,
 420,
 395,
 380,
 5250,
 1500,
 1500,
 1000,
 375,
 1000,
 1500,
 1550,
 500,
 500,
 400,
 750,
 350,
 425,
 1000,
 1250,
 1485,
 369,
 600,
 400,
 6500,
 395,
 2750,
 1500,
 2500,
 350,
 3750,
 500,
 800,
 1600,
 750,
 1000,
 600,
 800,
 1000,
 900,
 425,
 975,
 650,
 350,
 400,
 500,
 500,
 400,
 400,
 500,
 450,
 650,
 400,
 600,
 395,
 399,
 550,
 595,
 450,
 2300,
 425,
 400,
 350,
 409,
 430,
 400,
 650,
 385,
 450,
 5000,
 4500,
 8000,
 600,
 350,
 350,
 795,
 414,
 499,
 950,
 750,
 500,
 500,
 350,
 425,
 429,
 450,
 345,
 350,
 400,
 425,
 350,
 500,
 785,
 1000,
 370,
 425,
 400,
 349,
 500,
 750,
 400,
 495,
 375,
 350,
 350,
 550,
 600,
 399,
 500,
 500,
 365,
 350,
 545,
 400,
 395,
 390,
 350,
 400,
 349,
 450,
 860,
 1000,
 450,
 540,
 1400,
 500,
 600,
 350,
 383,
 395,
 419,
 500,
 380,
 900,
 350,
 350,
 500,
 1050,
 395,
 2695,
 1000,
 450,
 650,
 375,
 2000,
 985,
 350,
 425,
 380,
 360,
 350,
 345,
 699,
 550,
 495,
 400,
 450,
 1500,
 400,
 450,
 350,
 350,
 450,
 399,
 1000,
 500,
 350,
 450,
 895,
 600,
 385,
 600,
 550,
 525,
 500,
 1000,
 1000,
 375,
 9999,
 375,
 400,
 2400,
 600,
 2000,
 600,
 380,
 500,
 346,
 450,
 375,
 549,
 380,
 760,
 350,
 1000,
 350,
 795,
 450,
 500,
 415,
 995,
 1763,
 510,
 350,
 1450,
 400,
 495,
 600,
 499,
 825,
 700,
 500,
 524,
 750,
 450,
 2000,
 2000,
 400,
 2000,
 475,
 2000,
 475,
 450,
 350,
 450,
 400,
 450,
 350,
 1200,
 499,
 350,
 499,
 480,
 341,
 369,
 350,
 350,
 950,
 750,
 345,
 750,
 350,
 380,
 445,
 350,
 350,
 399,
 495,
 350,
 375,
 375,
 400,
 449,
 395,
 350,
 400,
 499,
 395,
 379,
 385,
 340,
 350,
 350,
 680,
 900,
 1000,
 350,
 350,
 700,
 375,
 450,
 399,
 400,
 600,
 440,
 1495,
 399,
 450,
 499,
 888,
 375,
 389,
 460,
 2000,
 700,
 350,
 450,
 900,
 800,
 700,
 800,
 500,
 999,
 375,
 10000,
 350,
 600,
 499,
 850,
 500,
 400,
 500,
 350,
 398,
 450,
 599,
 349,
 700,
 450,
 500,
 355,
 375,
 450,
 450,
 500,
 600,
 450,
 480,
 399,
 650,
 350,
 650,
 1600,
 450,
 386,
 450,
 399,
 595,
 360,
 400,
 499,
 450,
 400,
 700,
 350,
 350,
 400,
 700,
 1500,
 370,
 600,
 400,
 380,
 350,
 350,
 350,
 450,
 500,
 374,
 420,
 500,
 425,
 490,
 800,
 500,
 400,
 400,
 1200,
 369,
 1100,
 500,
 350,
 335,
 400,
 385,
 350,
 400,
 1195,
 450,
 375,
 500,
 999,
 350,
 395,
 350,
 400,
 500,
 429,
 700,
 469,
 600,
 399,
 400,
 360,
 500,
 414,
 360,
 450,
 455,
 374,
 500,
 650,
 2000,
 425,
 800,
 800,
 340,
 352,
 500,
 360,
 495,
 400,
 450,
 1000,
 350,
 500,
 2000,
 650,
 745,
 399,
 395,
 410,
 1170,
 699,
 375,
 1150,
 1000,
 350,
 500,
 450,
 434,
 500,
 590,
 899,
 350,
 750,
 500,
 350,
 400,
 450,
 400,
 800,
 650,
 350,
 465,
 375,
 425,
 400,
 450,
 375,
 465,
 500,
 450,
 531,
 525,
 345,
 350,
 350,
 335,
 655,
 450,
 500,
 400,
 410,
 1200,
 9999,
 350,
 350,
 500,
 375,
 450,
 450,
 350,
 349,
 450,
 395,
 400,
 550,
 450,
 390,
 350,
 399,
 450,
 425,
 499,
 350,
 1000,
 500,
 750,
 477,
 699,
 1200,
 800,
 372,
 799,
 1100,
 365,
 369,
 995,
 500,
 600,
 850,
 369,
 425,
 369,
 400,
 380,
 375,
 500,
 400,
 369,
 500,
 485,
 700,
 425,
 350,
 350,
 800,
 587,
 399,
 550,
 500,
 449,
 500,
 375,
 499,
 500,
 360,
 1731,
 400,
 600,
 1002,
 500,
 400,
 350,
 450,
 450,
 1250,
 600,
 360,
 425,
 400,
 400,
 350,
 1100,
 399,
 395,
 450,
 369,
 814,
 450,
 550,
 500,
 550,
 550,
 390,
 350,
 1800,
 2000,
 700,
 349,
 1200,
 499,
 421,
 690,
 619,
 600,
 450,
 2100,
 1100,
 375,
 400,
 999,
 500,
 450,
 355,
 380,
 750,
 350,
 360,
 495,
 625,
 400,
 490,
 450,
 400,
 425,
 650,
 348,
 595,
 500,
 800,
 369,
 450,
 350,
 999,
 1000,
 500,
 380,
 999,
 400,
 369,
 369,
 500,
 500,
 409,
 350,
 750,
 449,
 369,
 359,
 350,
 339,
 450,
 2500,
 525,
 350,
 450,
 359,
 436,
 399,
 500,
 359,
 935,
 350,
 500,
 650,
 6000,
 350,
 350,
 1300,
 500,
 399,
 376,
 800,
 980,
 380,
 1000,
 1000,
 1000,
 375,
 400,
 900,
 399,
 480,
 390,
 475,
 500,
 450,
 700,
 2000,
 350,
 350,
 399,
 575,
 400,
 1000,
 350,
 350,
 850,
 350,
 400,
 400,
 700,
 559,
 499,
 600,
 509,
 350,
 400,
 369,
 350,
 650,
 2000,
 500,
 500,
 600,
 450,
 375,
 375,
 350,
 450,
 1100,
 360,
 450,
 350,
 372,
 400,
 525,
 1000,
 350,
 400,
 408,
 700,
 349,
 499,
 350,
 495,
 500,
 350,
 350,
 399,
 525,
 700,
 400,
 750,
 500,
 1000,
 3800,
 370,
 479,
 350,
 450,
 10000,
 650,
 359,
 2350,
 500,
 400,
 822,
 350,
 350,
 360,
 1100,
 450,
 400,
 499,
 375,
 560,
 350,
 407,
 379,
 700,
 650,
 425,
 349,
 349,
 489,
 350,
 425,
 450,
 2500,
 650,
 795,
 800,
 399,
 400,
 499,
 375,
 999,
 440,
 750,
 350,
 672,
 3000,
 399,
 400,
 800,
 575,
 800,
 500,
 415,
 400,
 500,
 ...]

In [10]:
outliers=[]
def detect_outliers(data):
    threshold = 3 #3rd standard deviation 
    mean = np.mean(data)
    std = np.std(data)
    
    for i in data:
        z_score = (i-mean)/std
        if np.abs(z_score) > threshold:
            outliers.append(i)
    return outliers

In [11]:
detect_outliers(price)

[2000,
 1300,
 3000,
 1300,
 1000,
 2000,
 900,
 4000,
 999,
 2500,
 890,
 950,
 1000,
 1395,
 1000,
 1000,
 1500,
 1899,
 5000,
 1100,
 1200,
 1700,
 1999,
 1500,
 1000,
 1000,
 6000,
 900,
 900,
 2000,
 2000,
 950,
 1500,
 900,
 1500,
 1000,
 4000,
 1000,
 1200,
 5250,
 1500,
 1500,
 1000,
 1000,
 1500,
 1550,
 1000,
 1250,
 1485,
 6500,
 2750,
 1500,
 2500,
 3750,
 1600,
 1000,
 1000,
 900,
 975,
 2300,
 5000,
 4500,
 8000,
 950,
 1000,
 1000,
 1400,
 900,
 1050,
 2695,
 1000,
 2000,
 985,
 1500,
 1000,
 895,
 1000,
 1000,
 9999,
 2400,
 2000,
 1000,
 995,
 1763,
 1450,
 2000,
 2000,
 2000,
 2000,
 1200,
 950,
 900,
 1000,
 1495,
 888,
 2000,
 900,
 999,
 10000,
 1600,
 1500,
 1200,
 1100,
 1195,
 999,
 2000,
 1000,
 2000,
 1170,
 1150,
 1000,
 899,
 1200,
 9999,
 1000,
 1200,
 1100,
 995,
 1731,
 1002,
 1250,
 1100,
 1800,
 2000,
 1200,
 2100,
 1100,
 999,
 999,
 1000,
 999,
 2500,
 935,
 6000,
 1300,
 980,
 1000,
 1000,
 1000,
 900,
 2000,
 1000,
 2000,
 1100,
 1000,
 1000,
 3800,
 10000,
 2350,
 1100,
 2500,
 999,
 3000,
 894,
 1000,
 2000,
 1500,
 2000,
 1500,
 2000,
 1020,
 900,
 950,
 899,
 1599,
 1200,
 900,
 2590,
 999,
 895,
 899,
 1000,
 995,
 900,
 4000,
 2250,
 5000,
 2800,
 2250,
 1000,
 1475,
 2000,
 2900,
 1500,
 1067,
 1599,
 1000,
 1200,
 950,
 1000,
 1500,
 900,
 2500,
 2500,
 1000,
 1795,
 1095,
 899,
 1500,
 1000,
 5000,
 3900,
 1700,
 1177,
 1500,
 5000,
 1100,
 949,
 1000,
 2200,
 1000,
 1066,
 3000,
 3000,
 2010,
 3210,
 4160,
 1046,
 1000,
 1500,
 10000,
 1680,
 7703,
 3518,
 6419,
 2626,
 2103,
 980,
 1100,
 1500,
 1250,
 1000,
 2000,
 2500,
 8500,
 2990,
 1000,
 1000,
 1500,
 975,
 1000,
 974,
 1195,
 1200,
 1500,
 2500,
 1000,
 1000,
 1333,
 1100,
 1000,
 1200,
 1500,
 900,
 995,
 1250,
 999,
 1200,
 1700,
 1000,
 1100,
 3750,
 1500,
 1000,
 999,
 899,
 975,
 1500,
 1700,
 6500,
 1000,
 2545,
 1115,
 913,
 3600,
 5000,
 2000,
 1880,
 3000,
 956,
 956,
 3000,
 1500,
 2999,
 1600,
 3000,
 1350,
 950,
 3200,
 1000,
 1350,
 1000,
 1075,
 3000,
 956,
 1999,
 890,
 1750,
 1000,
 1080,
 1299,
 9999,
 2500,
 1150,
 1050,
 1295,
 1200,
 1500,
 1978,
 1494,
 3512,
 890,
 1000,
 999,
 1200,
 999,
 999,
 999,
 1497,
 1250,
 2850,
 990,
 1315,
 7500,
 3613,
 2600,
 4100,
 1145,
 1306,
 5100,
 898,
 950,
 1000,
 949,
 1799,
 4200,
 6800,
 945,
 1000,
 2000,
 875,
 945,
 950,
 999,
 2500,
 1900,
 1250,
 1000,
 7500,
 2500,
 975,
 4200,
 895,
 995,
 1800,
 900,
 1099,
 1750,
 995,
 945,
 900,
 900,
 920,
 900,
 930,
 950,
 2995,
 999,
 4500,
 1200,
 900,
 1750,
 950,
 900,
 2000,
 1400,
 1100,
 1500,
 1600,
 6500,
 1050,
 1308,
 1000,
 999,
 2999,
 1999,
 1369,
 1749]

In [31]:
df[(df.price<higher_fence)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [32]:
df2 = df[(df.price>lower_fence)&(df.price<higher_fence)]

In [34]:
df2.shape

(45918, 16)

In [37]:
df2.sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
31822,24831549,Sleek Studio in FiDi by Sonder,12243051,Sonder,Manhattan,Financial District,40.70571,-74.00833,Entire home/apt,182,29,1,2019-05-18,0.57,96,333
1311,573671,Luminous Modern Apt Share for Young Professionals,2822805,Ollie,Brooklyn,Bedford-Stuyvesant,40.68586,-73.95010,Private room,60,30,41,2019-02-23,0.65,8,245
9505,7304034,SPACIOUS Lower East Side DUPLEX 3 bed 2 ba COMFY,37623794,Amanda,Manhattan,East Village,40.72545,-73.98802,Entire home/apt,299,1,69,2019-06-16,1.52,1,257
16512,13234457,Cozy Clinton Hill Crib On Classon,2868,Letha M.,Brooklyn,Bedford-Stuyvesant,40.68258,-73.95871,Entire home/apt,60,29,2,2017-07-31,0.06,1,221
26654,21191546,"Monroe Manor - 3 bedroom, 2 full bath duplex",153044885,Joy,Brooklyn,Bedford-Stuyvesant,40.68747,-73.92879,Entire home/apt,189,3,77,2019-07-02,3.66,1,17

In [39]:
df2.price.describe()

count    45918.000000
mean       119.947014
std         68.117249
min          0.000000
25%         65.000000
50%        100.000000
75%        159.000000
max        333.000000
Name: price, dtype: float64

In [44]:
min_thresold, max_thresold = df.price.quantile([0.01,0.999])
min_thresold, max_thresold

(30.0, 3000.0)

In [41]:
df2 = df[(df.price>min_thresold)&(df.price<max_thresold)]
df2.shape

(48183, 16)

In [42]:

df2.price.describe()

count    48183.000000
mean       148.772036
std        153.594795
min         31.000000
25%         70.000000
50%        110.000000
75%        179.000000
max       2999.000000
Name: price, dtype: float64